<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FideFit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<nav class="navbar navbar-expand-lg text-bg-light  " >
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/Assets/img/ff.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    FideFit
                </a>
            </div>
        </nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="justify-content:center;">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Productos", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contáctanos", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                
            </ul>

            <ul class="nav-item " style="font-size:20px; font-weight:600; text-align:left; justify-content:center;">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>

<body>





    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="justify-items: center">
            <p>TODOS LOS DERECHOS RESERVADOS - UNIVERSIDAD FIDÉLITAS&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
